name: Build and Deploy React App to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build React App
        run: npm run build
        env:
          CI: false

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'SYNERGY5M-WEB'
          slot-name: 'Production' 
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE_SYNERG5M }}
          package: build
